@font-face {
    font-family: EurostileBold;
    src: url('./assets/fonts/EurostileBold.ttf');
}

@font-face {
    font-family: EurostileExtended;
    src: url('./assets/fonts/EurostileBold.ttf');
}

@font-face {
    font-family: EurostileOblique;
    src: url('./assets/fonts/EurostileBold.ttf');
}

@font-face {
    font-family: EuroStyleNormal;
    src: url('./assets/fonts/EurostileBold.ttf');
}