@font-face {
    font-family: EurostileBold;
    src: url('./assets/fonts/EuroStileBold.ttf');
}


@font-face {
    font-family: 'EurostileOblique';
    src: url('./assets/fonts/EurostileOblique.otf') format("opentype");;
}

div{
    user-select: none;
    font-family: EurostileOblique;
    font-size: 26px;
}