@font-face {
    font-family: EurostileBold;
    src: url('./assets/fonts/EuroStileBold.ttf');
}

@font-face {
    font-family: EurostileExtended;
    src: url('./assets/fonts/EuroStileExtended.ttf');
}

@font-face {
    font-family: EurostileOblique;
    src: url('./assets/fonts/EuroStileOblique.ttf');
}

@font-face {
    font-family: EuroStyleNormal;
    src: url('./assets/fonts/EuroStyleNormal.ttf');
}
